# secrets.MJYYWEB_TOKEN需要权限token：
# Fine-grained tokens:
# 对MJYY_Web的存储库权限
# Contents | Read and write | 推送分支需要
# Pull requests | Read and write | 创建PR需要


name: Sync and PR to MJYY-MC/MJYY_Web

on:
  push:
    branches: [main]
    paths:
      - 'images/**'
  workflow_dispatch:

jobs:
  sync-and-pr:
    runs-on: ubuntu-latest
    
    steps:
      - name: Checkout Repository
        uses: actions/checkout@v4

      - name: Checkout mjyyweb Dev Branch
        uses: actions/checkout@v4
        with:
          repository: MJYY-MC/MJYY_Web
          token: ${{ secrets.MJYYWEB_TOKEN }}
          path: tmp-dir
          ref: dev

      - name: Copy files to Dev
        # 复制到dev分支的指定目录
        run: |
          mkdir -p tmp-dir/src/assets/logo/
          cp -rf images/svg tmp-dir/src/assets/logo/
#          cp -rf images/png tmp-dir/src/assets/logo/

      - name: Create Pull Request to Dev
        uses: peter-evans/create-pull-request@v5
        with:
          token: ${{ secrets.MJYYWEB_TOKEN }}
          path: tmp-dir
          commit-message: '${{ github.event.head_commit.message }} (PR From GitHub Actions (MJYY-MC/logo#${{ github.run_number }}))'

          base: dev
          branch: MJYY-MC/logo/auto-pr/to-mjyyweb-${{ github.run_number }}
          
          delete-branch: true # 合并后将自动删除分支，但手动同意拉取请求将不会执行自动删除分支
          title: "[GitHub Actions] 来自MJYY-MC/logo的合并更改请求 (MJYY-MC/logo#${{ github.run_number }})"
          body: |
            自动同步MJYY-MC/logo的部分更改至dev分支
            
            **来源Commit**: ${{ github.sha }}
            
            > 来自GitHub Actions的自动化请求
          labels: |
            automated
          assignees: ${{ github.actor }}  # 自动指派给触发者